<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>基本模板</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
    .pd{
        padding: 0 0.75rem;
    }
    </style>
</head>
<body>
<div id="app" style="overflow: hidden;">
    <header class="header theme-bg header-fix flex-row">
        <img src="../../image/add_delete.png" alt="" style="width:1.25rem; height:1.25rem;" @click='goBack'>
        <span v-text='title' style="font-size: 1.2rem; margin-left: 0.5rem; "></span>
    </header>
	<!--高度至少1px才能有效偏移-->
    <div id='first-el' style="height: 1px; "></div>

    <div class="pd">
        <div class="" style="border-bottom: 1px solid #EEEEEE ;;padding-bottom: 1.15rem;;padding-top: 1.3rem;">
            <input type="number" v-model='phone' value="" placeholder="输入新手机号码">
        </div>
        <div class="flex-row" style="align-items: center;padding-bottom: 2.4rem;padding-top: 1.15rem;">
            <input type="number" v-model='checkCode' value="" placeholder="输入验证码" style="width: 9.65rem;height: 1.5rem;">
            <div class="flex-1">

            </div>
            <div class="" style="color: #64B5F6;" @click='getCheckCode' v-text='codeHint'>
            </div>
        </div>
        <div class="" @click='bindNewPhone' style="text-align: center;width: rem;height: 2rem;background-color: #379FBD ;color: white;border-radius: 0.4rem;line-height: 2rem;">
            绑定
        </div>
    </div>

</div>
</body>

<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/aui-dialog.js" ></script>
<script type="text/javascript" src="../../script/aui-toast.js" ></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/constant.js"></script>
<script type="text/javascript" src="../../script/util.js"></script>
<script type="text/javascript" src="../../script/fastclick.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
        FastClick.attach(document.body);
        $api.fixStatusBar($api.dom('header'));
        $api.css($api.dom('#first-el'), 'margin-top: ' + $api.dom('header').offsetHeight + 'px');
        if (api.systemType == 'ios') {
            FastClick.prototype.focus = function(targetElement) {
                targetElement.focus();
            };
        }

        var params = api.pageParam; //页面传参
        if (params.title) {
            vm.title = params.title;
        }
        vm.initData();
    };

    var vm = new Vue({
        el: '#app',
        data: {
            title: '绑定新手机号',
            codeHint: '获取验证码',
            phone:'',
            timeInterval: '',
            checkCode: '',
            countDown: 0,
        },
        methods: {
            initData() {

            },
            startCountDown() {
                var that = this;
                that.countDown = 59;
                that.codeHint = that.countDown;
                if (that.timeInterval != undefined) {
                    clearInterval(that.timeInterval);
                }
                that.timeInterval = setInterval(function () {
                    if (that.countDown > 0) {
                        that.countDown--;
                        that.codeHint = that.countDown;
                    }
                    if (that.countDown == 0) {
                        clearInterval(that.timeInterval);
                        that.codeHint = '获取验证码'
                    }
                }, 1000);
            },
            getCheckCode() {
                var that = this;
                if (that.countDown > 0) {
                    return;
                }
                if (that.phone == undefined || that.phone == '') {
                    api.toast({
                        msg: '请输入手机号码',
                        location: 'middle'
                    });
                    return;
                }
                api.showProgress({
                    title: '努力加载中...'
                });
                ajaxPost('/user/getCheckCode', that.phone, function(ret, err) {
                  api.hideProgress();
                  console.log(JSON.stringify(ret));
                  if (ret) {
                      if (ret.returnCode == '1') {
                        that.startCountDown();
                      } else {
                          api.toast({
                              msg: ret.returnMsg,
                              location: 'middle'
                          });
                      }
                  } else {
                      api.toast({
                          msg: JSON.stringify(err),
                          location: 'middle'
                      });
                  }
                })
            },
            bindNewPhone() {
                var that = this;
                api.showProgress({
                    title: '努力加载中...'
                });
                var params = {
                    phone: that.phone,
                    checkCode: that.checkCode
                }
                console.log(JSON.stringify(params));
                ajaxPost('/user/bindNewPhone', params, function(ret, err) {
                    api.hideProgress();
                    console.log(JSON.stringify(ret));
                    if (ret) {
                        if (ret.returnCode == '1') {
                            api.closeWin();
                        } else {
                            api.toast({
                                msg: ret.returnMsg,
                                location: 'middle'
                            });
                        }
                    } else {
                        api.toast({
                            msg: JSON.stringify(err),
                            location: 'middle'
                        });
                    }
                })
            },

        }
    })

</script>

</html>
