<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>基本模板</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>

    </style>
</head>
<body>
    <div id="app" style="overflow: hidden;">
        <header class="header theme-bg header-fix flex-row">
            <img src="../../image/add_delete.png" alt="" style="width:1.25rem; height:1.25rem;" @click='goBack'>
            <span v-text='title' style="font-size: 1.2rem; margin-left: 0.5rem; "></span>
        </header>
        <!--高度至少1px才能有效偏移-->
        <div id='first-el' style="height: 1px; "></div>

        <div class="flex-col " style="margin-top: 2.98rem;padding:0 2rem;">
            <span style="font-size: 1.25rem;">重置密码</span>
            <div class="flex-col" style="align-items:center;">
                <input type="password" placeholder="输入新密码" style="margin-top: 0.5rem;background-color:#EEEEEE;opacity:0.7;width: 14.75rem;height: 3rem;border-radius: 3rem;text-align:center;font-size: 1rem;" v-model="new_password">
                <input type="password" placeholder="再次确认密码" style="margin-top: 1rem;background-color:#EEEEEE;opacity:0.7;width: 14.75rem;height: 3rem;border-radius: 3rem;text-align:center;font-size: 1rem;" v-model="news_password">
                <div class="" style="width: 14.75rem;height: 3rem;text-align:center;background-color:#3AB2BF;line-height:3rem;border-radius: 3rem;opacity:0.7;color:#FFFFFF;margin-top: 2.2rem;font-size: 1rem;"
                    @click="change">
                    下一步
                </div>
            </div>
        </div>

    </div>
</body>

<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/aui-dialog.js" ></script>
<script type="text/javascript" src="../../script/aui-toast.js" ></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/constant.js"></script>
<script type="text/javascript" src="../../script/util.js"></script>
<script type="text/javascript" src="../../script/fastclick.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
        FastClick.attach(document.body);
        $api.fixStatusBar($api.dom('header'));
        $api.css($api.dom('#first-el'), 'margin-top: ' + $api.dom('header').offsetHeight + 'px');
        if (api.systemType == 'ios') {
            FastClick.prototype.focus = function(targetElement) {
                targetElement.focus();
            };
        }
        var params = api.pageParam;
        vm.phone = params.phone;
        vm.checkCode = params.checkCode;
        console.log(JSON.stringify(params.checkCode));
        console.log(JSON.stringify(vm.checkCode)); //页面传参
        if (params.title) {
            vm.title = params.title;
        }
        vm.initData();
    };

    var vm = new Vue({
        el: '#app',
        data: {
            checkCode:'',
            new_password:'',
            news_password:'',
            title: '重置密码',
        },
        methods: {
            initData() {

            },
            change(){
                if (this.news_password == this.new_password) {
                    var that = this;
                    var params = {
                        phone: that.phone,
                        checkCode: that.checkCode,
                        password: that.new_password,
                    };
                    console.log(JSON.stringify(params));
                    ajaxPost('/user/changePassword', params, function(ret, err) {
                        // console.log(JSON.stringify(ret));
                        if (ret) {
                            if (ret.returnCode == '1') {
                                api.closeToWin({
                                    name: 'password_login'
                                });
                            } else {
                                api.toast({
                                    msg: ret.returnMsg,
                                    location: 'middle'
                                });
                            }
                        } else {
                            api.toast({
                                msg: JSON.stringify(err),
                                location: 'middle'
                            });
                        }
                    })
                }else {
                    api.toast({
                        msg: '两次密码不一样',
                        duration: 2000,
                        location: 'bottom'
                    });

                }

            },
        }
    })

</script>

</html>
