<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>基本模板</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <style>
    .padd{

        width: 100%;
        padding: 0 2rem;
    }
    .flex-row>input {
        width:2.75rem;
        height: 2.75rem;
        background-color: var(--theme-light-grey);
        border-radius: 0.21rem;
        text-align: center;

    }
    </style>
</head>
<body>
    <div id="app" style="overflow: hidden;">
        <header class="header theme-bg header-fix flex-row">
            <img src="../../image/add_delete.png" alt="" style="width:1.25rem; height:1.25rem;" @click='goBack'>
            <span v-text='title' style="font-size: 1.2rem; margin-left: 0.5rem; "></span>
        </header>
        <!--高度至少1px才能有效偏移-->
        <div id='first-el' style="height: 1px; "></div>
        <div class="padd">
            <div class="flex-col" style="margin-top:1.75rem;">
                <span style="font-size: 1.25rem;">输入验证码</span>
                <span style="font-size: 0.8rem; margin-top: 0.89rem;">已发送验证码至   <span v-text="phone"></span></span>
            </div>
            <div class="flex-col" style="align-items:center;margin-top: 1rem;">
                <div class="flex-row flex-between ">
                    <input type="number" name="" value="" style="background-color: #EEEEEE ;border-radius: 0.21rem;margin-right: 1rem;"  v-model='checkCode0' id='checkCodeInput0'>
                    <input type="number" name="" value="" style="background-color:#EEEEEE ;border-radius: 0.21rem;margin-right: 1rem;"  v-model='checkCode1' id='checkCodeInput1'>
                    <input type="number" name="" value="" maxlength="1" style="background-color:#EEEEEE ;border-radius: 0.21rem;margin-right: 1rem;"  v-model='checkCode2' id='checkCodeInput2'>
                    <input type="number" name="" value="" maxlength="1" style="background-color:#EEEEEE ;border-radius: 0.21rem;"  v-model='checkCode3' id='checkCodeInput3' oninput="if(value.length>1)value=value.slice(0,1)" >
                </div>
                <div class="" style="background-color:#3AB2BF;height:3rem;width: 14.75rem;text-align:center;line-height:3rem;border-radius:3rem;margin-top:1.5rem;color:white;"
                    @click="nextStep" >
                    确定
                </div>
                <p style="font-size: 0.8rem;margin-top: 0.5rem;" @click='resendCheckCode'>重新发送<span v-text="'(' + countDown + ')'">(50)</span></p>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/aui-dialog.js" ></script>
<script type="text/javascript" src="../../script/aui-toast.js" ></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/constant.js"></script>
<script type="text/javascript" src="../../script/util.js"></script>
<script type="text/javascript" src="../../script/fastclick.js"></script>
<script type="text/javascript">
    apiready = function() {
        api.parseTapmode();
        FastClick.attach(document.body);
        $api.fixStatusBar($api.dom('header'));
        $api.css($api.dom('#first-el'), 'margin-top: ' + $api.dom('header').offsetHeight + 'px');
        if (api.systemType == 'ios') {
            FastClick.prototype.focus = function(targetElement) {
                targetElement.focus();
            };
        }

        var params = api.pageParam;
        vm.phone = params.phone;
        vm.checkCode = params.checkCode; //页面传参
        if (params.title) {
            vm.title = params.title;
        }
        vm.initData();
    };

    var vm = new Vue({
        el: '#app',
        data: {
            title: '获取验证码',
            phone:'',
            timeInterval: '',
            checkCode0: '',
            checkCode1: '',
            checkCode2: '',
            checkCode3: '',
            countDown: 59,
        },
        methods: {
            initData() {
                var that = this;
                that.startCountDown()
            },
            startCountDown() {
                var that = this;
                that.countDown = 59;
                if (that.timeInterval != undefined) {
                    clearInterval(that.timeInterval);
                }
                that.timeInterval = setInterval(function () {
                    if (that.countDown > 0) {
                        that.countDown--;
                    }
                    if (that.countDown == 0) {
                        clearInterval(that.timeInterval);
                    }
                }, 1000);
            },
            resendCheckCode() {
                var that = this;
                if (that.countDown > 0) {
                    return;
                }
                api.showProgress({
                    title: '努力加载中...'
                });
                ajaxPost('/user/getCheckCode', that.phone, function(ret, err) {
                  api.hideProgress();
                  console.log(JSON.stringify(ret));
                  if (ret) {
                      if (ret.returnCode == '1') {
                          api.toast({
                              msg: '发送成功',
                              location: 'middle'
                          });
                          that.startCountDown();
                      } else {
                          api.toast({
                              msg: ret.returnMsg,
                              location: 'middle'
                          });
                      }
                  } else {
                      api.toast({
                          msg: JSON.stringify(err),
                          location: 'middle'
                      });
                  }
              })
            },
            nextStep(){
                var that = this;
                var params = {
                    phone: that.phone,
                    checkCode: that.checkCode0 + that.checkCode1 + that.checkCode2+ that.checkCode3
                }
                console.log(JSON.stringify(params));
                api.showProgress({
                    title: '加载中...'
                });
                ajaxPost('/user/checkCheckCode', params, function(ret, err) {
                  api.hideProgress();
                  console.log(JSON.stringify(ret));
                  if (ret) {
                      if (ret.returnCode == '1') {
                           console.log(JSON.stringify(that.phone));
                           api.openWin({
                               name: 'forget_password_3',
                               url: './forget_password_3.html',
                               pageParam: {
                                   phone: that.phone,
                                   checkCode: that.checkCode0 + that.checkCode1 + that.checkCode2+ that.checkCode3
                               }
                           });
                      } else {
                          api.toast({
                              msg: ret.returnMsg,
                              location: 'middle'
                          });
                      }
                  } else {
                      return;
                      api.toast({
                          msg: JSON.stringify(err),
                          location: 'middle'
                      });
                  }
                })
            }
        },
        watch: {
            checkCode0(val) {
                if (val != '' && val != undefined) {
                    $api.dom('#checkCodeInput1').focus();
                }
            },
            checkCode1(val) {
                if (val != '' && val != undefined) {
                    $api.dom('#checkCodeInput2').focus();
                }
            },
            checkCode2(val) {
                if (val != '' && val != undefined) {
                    $api.dom('#checkCodeInput3').focus();
                }
            },

        },
    })

</script>

</html>
